*, *::before, *::after{
  box-sizing: border-box;
  min-width: 0;

}


.header-menu{

  padding-top: 1em;
  margin:0;
  display: flex;
  flex-flow: column wrap;


}



.header-menu .nav-main-item{
  color:white;
}

.header-row-1{
  display:flex;
  height: 2.5em;
  flex-flow: row nowrap;
  justify-content: space-between;


}
.nav-row-1{
  width:60%;
  align-items: flex-end;
  padding-left: 50vw;
  padding-right: 0.5vw;
}


.header-row-1 .nav-main-item{
  align-self: flex-end;
}




.header-row-2{
  display:flex;
  flex:1 1 auto;
  width:50%;
  align-self: center;
  padding: 0.1em;
  padding-left: 0.5em;
  border: 0.1em solid black;
  margin: 1.5em 0;
  background-color: white;
}

.header-row-2 p{
  margin: 0.3em 0;
}

.header-row-3{
  display:flex;
  flex-wrap: nowrap;
  align-self: center;
  flex: 0 0 50%;
  justify-content: space-around;
  padding-bottom: 1em;

}

.nav-row-3 a{

  text-align: center;
  align-items: center;
  padding: 0 6.95vw;



}



.nav-row-3 a:first-child{
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
}

.nav-row-3 a:last-child{
  padding-right: 7.2vw;
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
}



.nav-main-logo{
  margin-left: 2em;
}

.nav-main-item{
  padding-right: 0.5em;
}

.main-content{
  padding-top: 12em;
}




@media (max-width: 52em) {


}
