*, *::before, *::after{
  box-sizing: border-box;
  min-width: 0;

}


.header-menu{

  padding-top: 0.1em;
  margin: 0;
  display: flex;
  flex-flow: column wrap;



}



.header-menu .nav-main-item{
  color:white;
}

.header-row-1{
  display:flex;
  height: 5em;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.nav-main-logo-img{
  flex:20%;
  margin-left: 1em;
}

.nav-row-1 {
  flex:20%;
  margin-left: auto;
  margin-right: 1.5em;

}

.nav-main-item {

  margin-top: 1.5em;
  padding-right: 0.5em;
  width: 100%;
  height: auto;
  text-align: right;
}

.profile-cart{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}


.header-row-2{
  flex:60%;
  align-self: center;
  text-align: center;


  margin: 0 1em;
  margin-bottom: 1em;
  height:50%;
  margin-top: 2em;
  vertical-align: middle;

}

.header-row-2 input{
  outline:none;
  padding-left: 0.5em;
  border: 0.1em solid black;
  margin: 1em 0;
  margin-top: 0em;
  width:50%;
  height:100%;
}
.header-row-2 img{

  margin-left: 0.35em;
  padding:0.5em;
  max-height: 100%;
  vertical-align: middle;

  background-color: #541D81;
}

.header-row-3{
  display:flex;
  flex-wrap: nowrap;
  align-self: center;
  flex: 0 0 50%;
  justify-content: space-around;
  padding-bottom: 0.5em;
  font-size: 1.5em;

}

.nav-row-3 a{

  text-align: center;
  align-items: center;
  padding: 0 6.95vw;

}
.nav-row-3 a:hover{

  text-decoration: underline;
  transition: text-decoration 2s ease-in;
}



.nav-row-3 a:first-child{
  /* border-left: 0.1em solid white; */
  border-right: 0.1em solid white;
}

.nav-row-3 a:last-child{
  padding-right: 7.2vw;
  border-left: 0.1em solid white;
  /* border-right: 0.1em solid white; */
}



.nav-main-item img{
  padding-right: 0.5em;

}

.main-content {
  padding-top: 12em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-wrap: wrap;
  transition: padding-top 0.5s;

  justify-content: center;
  align-self: center;
  height: 20rem;

}

.container-home {
  padding: 14rem 10rem;
  padding-top: 10rem;
}

.index-banner{
  max-width:100%;
}

.catalog-filter {
  padding: 1rem;
  flex: 1 1 20%;
  height: 15rem;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  flex: 1 1 80%;
}

.section-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 100%;
  justify-content: space-around;
}

.catalog {
  height: 6rem;
  width: 8rem;
}

div#MU1920{
  order:1;
}

div#TH1819{
  order:2;
}

div#MU1819{
  order:3;
}

div#MC1819{
  order:4;
}
div#C1819{
  order:5;
}
div#A1718{
  order:6;
}
div#E1819{
  order:7;
}

div#MU9800{
  order:8;
}


.catalog-img {
  height: 4.5rem;


}

.catalog-img img{
  width:80%;
  overflow:hidden

}

.section-club {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 3em;
}

.club {
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 10rem;
  max-height:10rem;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  /*max-width:9%;*/
  flex:8.5%;

}

.item {
  height:17em;
  flex: 25%;
}

.cart-container{

}

.cart {
  display: flex;
  flex-flow:row nowrap;
  flex:100%;
  margin-top: 3em;
  margin-bottom: 5em;







}

.cart-box{
  margin-top:1em;
}

.cart-card-left{
  display:flex;
  flex-flow: row wrap;
  flex:60%;
  padding: 1em 6em;
  padding-top: 0;
  padding-right: 1.3em;
  overflow:scroll;
  height:35rem;
  margin-top: 1em;

}

.cart-info-right{
  flex:30%;
  align-self: flex-start;
  margin-right: 5em;
  margin-top:0;
}

.cart-info-box {

}

.product {
  display:flex;
  flex-flow:row wrap;
}

.product-left{
  margin-right: 2em;
  flex: 78%;
  padding: 1em 6em;
  padding-top:2em;
  padding-right: 1em;
  display:flex;
  flex-flow: wrap;
  margin-top: 1em;
}

.product-right{
  margin-right: 0.5em;
  flex: 18%;
  align-self: flex-start;
  margin-top: 1em;
}

.product-img {
  flex: 1 1 20%;
  height: 20rem;
  overflow:visible;
  padding: 1rem;
  text-align: center;
}

.dot-row{
  text-align: center;
}
.image-dot{
  cursor:pointer;
  height:1em;
  width:1em;
  margin: 0 0.1em;
  background-color: grey;
  border-radius: 50%;
  display:inline-block;
  transition: background-color 0.5s ease;
  margin-top: 1.5em;

}

.image-dot:hover, .image-dot-active{
  background-color: #383838;
}

.product-info {
  flex: 1 1 80%;
  height: 20rem;
  padding: 1rem;
}
.product-info > p{
  max-width: 45em;
  text-align: justify;
}


.product-review {

  flex: 1 1 100%;
}

.add-to-cart-button{
  margin-top: 0.5em;
}

.cart-item {

}

.about-contact, .about-addresses, .about-faq,
.news-events
{
  flex: 100%;
  padding: 2rem 4rem;
}

.profile-item{
  padding: 1.5em 2em;
}

.profile{
  display:flex;
  flex-flow: row nowrap;

}

.profile-right{
  display:flex;
  flex-flow:column nowrap;
  flex: 1 1 auto;
  height:30em;
}

.answer {
  padding-bottom: 2.5rem;
}

.shipping {

  padding: 1rem 1.5rem;
}

.image {
  flex: 1 1 40%;
}

.detail {
  flex: 1 1 60%;
}



.card{
  flex: 1 1 100%;
  align-self: center;
  margin:2em 20em;
  padding: 0.5em 1.2em 1.2em;
  margin-bottom: 1.5em;
}

.about {
 display: flex;
 flex-flow: row nowrap;
}
.about-navigation, .about-content{
  margin-top: 3em;
}


.about-navigation{
  flex: 20%;
  margin-right: 2em;
}
.about-content{
  flex:80%;
  padding-left: 1em;
  padding-right: 1em;
  height: 45em;

}



.order-list-container{
  padding: 0;
}

.order-list{
  margin: 1em 15em;
  margin-bottom: 8em;
}
.return-to-home{
  margin-top: 2em;
  text-align: center;
}
.title {
  flex: 100%;
}

.news-updates{
  margin-top: 2em;
  margin-bottom:5em;
}
.shipping, .payment{
  margin-top: 2em;
}


footer{
  position:fixed;
  padding-left: 1em;
  margin-top: 5em;
  padding:0.5em 0;
  z-index: 999;
  bottom:0;
  width:100%;
  background-color: rgb(37, 51, 65);
  color:white;
  text-align: center;
}

footer a{
  color:white !important;
  padding: 0 6.95vw;
}
footer a:first-child{
  border-right: 0.1em solid white;
}
footer a:last-child{
  border-left: 0.1em solid white;
}
