*, *::before, *::after{
  box-sizing: border-box;
  min-width: 0;

}


.header-menu{

  padding-top: 1em;
  margin:0;
  display: flex;
  flex-flow: column wrap;


}



.header-menu .nav-main-item{
  color:white;
}

.header-row-1{
  display:flex;
  height: 2.5em;
  flex-flow: row nowrap;
  justify-content: space-between;


}
.nav-row-1{
  width:60%;
  align-items: flex-end;
  padding-left: 50vw;
  padding-right: 0.5vw;
}


.header-row-1 .nav-main-item{
  align-self: flex-end;
}




.header-row-2{
  display:flex;
  flex:1 1 auto;
  width:50%;
  align-self: center;
  padding: 0.1em;
  padding-left: 0.5em;
  border: 0.1em solid black;
  margin: 1.5em 0;
  background-color: white;
}

.header-row-2 input{
  outline:none;
  border:0;
  margin: 0.3em 0;
  width:99%;
  height:100%;
}

.header-row-3{
  display:flex;
  flex-wrap: nowrap;
  align-self: center;
  flex: 0 0 50%;
  justify-content: space-around;
  padding-bottom: 1em;

}

.nav-row-3 a{

  text-align: center;
  align-items: center;
  padding: 0 6.95vw;

}



.nav-row-3 a:first-child{
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
}

.nav-row-3 a:last-child{
  padding-right: 7.2vw;
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
}

.nav-main-logo{
  margin-left: 2em;
}

.nav-main-item{
  padding-right: 0.5em;
}

.main-content {
  padding-top: 12em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-self: center;
  height: 20rem;

}

.container-home {
  padding: 14rem 10rem;
}

.catalog-filter {
  padding: 1rem;
  flex: 1 1 20%;
  height: 30rem;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 1 1 80%;
}

.section-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 100%;
  justify-content: space-around;
}

.catalog {
  height: 6rem;
  width: 8rem;
}

.catalog-img {
  height: 4.5rem;
}

.section-club {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  overflow: hidden;
  justify-content: center;
}

.club {
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 10rem;
  max-height:10rem;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  max-width:9%;
  flex:9%;

}

.item {
  height: 15rem;
  flex: 25%;
}

.cart-container{

}

.cart {
  display:flex;
  flex-flow:row nowrap;
  flex:100%;
  margin-top: 3em;






}

.cart-box{
  margin-top:1em;
}

.cart-card-left{
  display:flex;
  flex-flow: row wrap;
  flex:60%;
  padding: 1em 6em;
  padding-top:2em;
  padding-right: 1.3em;
  overflow:scroll;
  height:65%;



}

.cart-info-right{
  flex:30%;
  align-self: flex-start;
  margin-right: 5em;
  margin-top: 2em;
}

.cart-info-box {

}

.product {
  display:flex;
  flex-flow:row wrap;
}

.product-left{
  margin-right: 2em;
  flex: 78%;
  padding: 1em 6em;
  padding-top:2em;
  padding-right: 1em;
  display:flex;
  flex-flow: wrap;
  margin-top: 1em;
}

.product-right{
  margin-right: 0.5em;
  flex: 18%;
  align-self: flex-start;
  margin-top: 1em;
}

.product-img {
  flex: 1 1 20%;
  height: 20rem;
  overflow:visible;
  padding: 1rem;
  text-align: center;
}

.dot-row{
  text-align: center;
}
.image-dot{
  cursor:pointer;
  height:1em;
  width:1em;
  margin: 0 0.1em;
  background-color: grey;
  border-radius: 50%;
  display:inline-block;
  transition: background-color 0.5s ease;
  margin-top: 1.5em;

}

.image-dot:hover, .image-dot-active{
  background-color: #383838;
}

.product-info {
  flex: 1 1 80%;
  height: 20rem;
  padding: 1rem;
}
.product-info > p{
  max-width: 45em;
  text-align: justify;
}


.product-review {

  flex: 1 1 100%;
}

.add-to-cart-button{
  margin-top: 0.5em;
}



.cart-item {

}

.about-content, .about-contact, .about-addresses, .about-faq,
.news-events,
.profile-info, .profile-order,
.profile-security, .profile-notification,
.profile-billing {
  flex: 100%;
  padding: 2rem 4rem;
}

.profile-info {
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 6rem;
}



.profile-info > img{
  flex: 1 1 auto;

  background-color: white;
}

.profile_detail{
  flex: 1 1 80%;
  background-color: grey;
}

.answer {
  padding-bottom: 2.5rem;
}



.shipping {
  width: 60%;
  padding: 1rem 1.5rem;
}

.image {
  flex: 1 1 40%;
}

.detail {
  flex: 1 1 60%;
}



.card{
  flex: 1 1 100%;
  align-self: center;
  margin:2em 20em;
  padding: 0.5em 1.2em 1.2em;
  margin-bottom: 1.5em;
}

.about {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.order-list-container{
  padding: 0;
}

.order-list{
  text-align: center;
  margin: 1em 30em;
}
.return-to-home{
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 78em) {
  .item {
    flex: 33%;
  }
  .card {
    margin:2em 15em;
  }
  .about {
   width: 70%;
  }
  .product-img {
    flex: 50%;
  }
  .product-info {
    flex: 50%;
  }

}

@media (max-width: 58em) {
  .catalog-filter {
    flex: 100%;
    height: 6rem;
  }
  .catalog-list {
    flex: 100%;
  }
  .item {
    flex: 50%;
  }
  .club {
    flex: 20%;
  }
  .container-home {
    padding: 14rem 6rem;
  }
  .card {
    margin:2em 5em;
  }
  .cart-card-left{
    padding: 1em 2em;
    padding-right: 1.3em;
  }

  .cart-info-right{
    align-self: flex-start;
    margin-right: 2em;
  }
  .shipping {
    width: 80%;
    padding: 1rem 1.5rem;
  }
  .about {
   width: 100%;
  }
  .product-img {
    flex: 100%;
  }
  .product-info {
    flex: 100%;
  }
}

@media (max-width: 38em) {
  .item {
    flex: 100%;
  }
  .cart {

    flex-flow: row wrap;
  }
  .news-container {
    padding: .5rem .5rem;
  }
  .about-contact, .about-addresses, .about-faq,
  .news-updates, .news-events,
  .profile-info, .profile-order,
  .profile-security, .profile-notification,
  .profile-billing {
    padding: .75rem .5rem;
  }

  .club {
    height: 5rem;
    flex: 33%;
  }
  .container-home {
    padding: 14rem 0rem;
  }
  .card {
    margin:.5em .25em;
  }
  .cart-card-left{
    flex:100%;
    padding: 1em 0;
    padding-top:2em;
    padding-right: .5em;
  }

  .cart-info-right{
    flex:100%;
    margin-right: 1em;
    margin-top: 0;
    padding: 1em 0;
  }
  .shipping {
    width: 100%;
    padding: 1rem 1.5rem;
  }
  .product-left{
    flex: 78%;
  }
  .product-right{
    flex: 18%;
  }


}
