/*
	Open Sans from https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans

	Roboto from https://fonts.google.com/specimen/Roboto?selection.family=Roboto
*/



header{
  padding-top: 0.3em;
  background-color: #5F6670;
  position: fixed;
  width:100%;
  font-family: 'Open Sans', sans-serif;


}
body{
  background-color: #F8EFE4;
}

p {
	font-family: 'Roboto', sans-serif;
}


a{
  text-decoration: none;

}
a, a:visited{
  color:blue;
}

.header-row-1 img{
  left: 0;
  width:auto;
  height:280%;
}

.nav-row-1 img{
  width:25%;
  height: auto;
}

.browse-filter {

	background-color: rgb(150, 150, 150);
  border-right: 1em solid #F8EFE4;
}

.browse-list {

	background-color: rgb(150, 150, 150);
}

.browse-list > .item{
  text-align: center;
}


.item {
	background-color: rgb(245, 245, 245);
	text-decoration: none;
	transition: background-color 0.5s ease-out;
}

.item:active, .item:hover, .item:focus {
	background-color: rgb(235,235,235);
}
